.modal-header {
    position: aboslute; 
    display: flex; 
    justify-content: center;
}

.modal-body{
    height: 60vh;
    overflow-y: auto;
}

.description  {
    word-break: break-word; 
    width: 500px;
}