.messages {
    position: relative;
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
    transition: visibility 0s, opacity 250ms, transform 250ms;
}
.messages.hide {
    position: relative;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-10px);
    transition: visibility 0s 250ms, opacity 250ms, transform 250ms;
}