{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% load static %}

{% block content %}

{% include 'dashboard_nav.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
<body>
  <div class='container my-2'>
    <h1 style="position: aboslute; display: flex; justify-content: center;">
        Your Tasks
    </h1>
      
    {% comment %} ACCORDIAN FILTER {% endcomment %}
    <div class="accordion" id="accordionFilter">
      <div class="col-lg-push-2">
        <button class="btn btn-primary text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Filters
        </button>
      </div>
      <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionFilter">
        <div class="card-body">
          <form method="GET">
            <div class="d-flex flex-row">
              {% for field in filter.form %}
                {% if forloop.counter == 1 %}
                  <div class="flex-col">
                    <div class="p-2">{{ field|as_crispy_field }}</div>
                {% elif forloop.counter == 4 or forloop.counter == 6 %}
                  </div>
                  <div class="flex-col">
                    <div class="p-2">{{ field|as_crispy_field }}</div>
                {% elif forloop.counter != 3 %}
                  <div class="p-2">{{ field|as_crispy_field }}</div>
                {% endif %}
              {% endfor %} 
              </div>
            </div>
            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-filter"></i> Filter</button>
          </form>
        </div>
      </div>
    </div>
    
    <br>
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Task Group</th>
          <th scope="col">Task List</th>
          <th scope="col">Due Date</th>
          <th scope="col">Priority</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
          <tr href="" data-toggle="modal" data-target="#taskModal-{{ forloop.counter }}">
            <th scope="row">{{ forloop.counter }}</th>
            <td>
              {% if task.linked_tasks.all %}
                <i class="fa-solid fa-link"></i>
              {% endif %}
              {{ task.name }}
            </td>
            <td>{{ task.task_list.list_group }}</td>
            <td>{{ task.task_list }}</td>
            <td>
              {% if task.deadline %}
                {{ task.deadline }}
              {% else %}
                -
              {% endif %}
            </td>
            <td>
              <span class="badge badge-{{ task.priority_display.style }}">
                {{ task.priority_display.priority }} 
              </span>
            </td>
            <td>
              <span class="badge badge-{{ task.status_display.style }}">
                {{ task.status_display.status }} 
              </span>
            </td>
            <td>
              <a href="{% url 'tasks:task_details' task.id%}"><i class="fa-solid fa-pen-to-square"></i></a>
            </td>
          </tr>
          <div class="task-modal modal fade" id="taskModal-{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="taskModalLabel">{{task.name|capfirst}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form request="GET">
                    <div class="d-flex row">
                      <div class="col-6">
                        <p>
                          Description: {{ task.description| safe | linebreaks }}
                        </p><br>
                        {% if task.linked_tasks.all %}
                          <p>
                            Parent Tasks:
                            <br>
                            <ul class="list-group">
                            {% for task in task.linked_tasks.all %}
                              <a href="{% url 'tasks:task_details' task.id%}" class="list-group-item list-group-item-action">
                                  {{task.list_group}} - {{task.task_list }} - {{ task.name }}
                                  <i class="fa-solid fa-arrow-up-right-from-square float-right"></i>
                              </a>
                            {% endfor %}
                            </ul>
                          </p>
                        {% endif %}
                      </div>
                      <div class="col-6">
                        <div class="accordion" id="accordionTask-{{task.id}}">
                          <div class="col-lg-push-2">
                            <button id="help-btn-{{task.id}}" class="help-btn btn btn-primary" value="{{task.id}}" class="btn btn-primary text-left" type="button" data-toggle="collapse" data-target="#collapse-task-{{task.id}}" aria-expanded="true" aria-controls="collapse-task-{{task.id}}">
                              <i class="fa-solid fa-circle-info"></i> Show Related Sources
                              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            </button>
                          </div>
                          <div id="collapse-task-{{task.id}}" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionTask-{{task.id}}">
                            <div id="card-{{task.id}}" class="card-body">                  
                            </div>
                          </div>
                        </div>   
                      </div>
                    </div>
                  </form>
                </div>
                <div class="d-flex modal-footer justify-content-center">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </tbody>
    </table>
    
  </div>
</body>
<script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
