{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Create Task List{% endblock %}

{% block content %}
{% include 'task_group_base.html' %}
<style>
    .container {
        padding: 0;
        margin-left: 400px;
        margin-right: 400px; 
        width: auto;
    }
</style>
<body>
    <div class='container my-2'>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy}}
            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <button type="submit" class="btn btn-primary btn-lg">Edit Group</button>
            </div>
        </form>
    </div>
</body>

{% endblock %}
