{% load static %}
{% load crispy_forms_tags %}

<div class="dropdown">
	<span class="badge bg-primary notification-badge fa-regular fa-bell" onclick="showNotifications()"> {%if notifications %} {{ notifications.count }}{% endif %}</span>
	<div class="dropdown-content d-none" id="notification-container">
		{% for notification in notifications %}
			{% if notification.notification_type == 1 %}
				<div class="dropdown-item-parent">
					<a href="">@{{ notification.group }} has a new updates. <br> {{ notification.description }}</a>
					<span class="dropdown-item-close" onclick="removeNotification(`{% url 'tasks:notification_delete' notification.pk %}`, `{{ request.path }}`)">&times;</span>
				</div>
			{% elif notification.notification_type == 2 %}
				<div class="dropdown-item-parent">
					<a href="">@{{ notification.sender }} sent you a connection request</a>
					<span class="dropdown-item-close" onclick="removeNotification(`{% url 'tasks:notification_delete' notification.pk %}`, `{{ request.path }}`)">&times;</span>
					<div>
					{{ notification.description }}
					</div>
				</div>
			{% elif notification.notification_type == 3 %}
				<div class="dropdown-item-parent">
					<a href="">
						@{{ notification.sender }} sent you a group invite to {{ notification.group }} <br> 
							{% if notification.description %}
								{{ notification.description }}
							{% else %}
								<br>
							{% endif %}
					</a>
					<span class="dropdown-item-accept" onclick="removeNotification(`{% url 'tasks:notification_accept' notification.pk %}`, `{{ request.path }}`)">
						<i class="fa-regular fa-circle-check"></i> Accept</span>
					<span class="dropdown-item-decline" onclick="removeNotification(`{% url 'tasks:notification_decline' notification.pk %}`, `{{ request.path }}`)">
						<i class="fa-regular fa-circle-xmark"></i> Decline</span>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>

<script type="text/javascript" src="{% static 'js/show_notifications.js' %}"></script>
<script src="https://kit.fontawesome.com/54f931f71a.js" crossorigin="anonymous"></script>