{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb "Groups" "tasks:dashboard_groups" %}
    {% breadcrumb "Task Lists" "" %}
{% endblock %}

{% block content %}
{% include 'task_group_base.html' %}
<style>
  .container {
      padding: 0;
      display: block;
      margin-left: 400px;
      margin-right: 400px;
      width: auto;
  }
</style>
<body>
  <div class='container my-2'>
    {% render_breadcrumbs %}
    <h1 style='postition: aboslute; display: flex; justify-content: center'>
      Task Lists
    </h1>
      <form method="GET">
          {% csrf_token %}
          {{ myFilter.form|crispy }}
          <button type="submit" class="btn btn-primary">Filter</button>
      </form>
      <div class="row">
        <div class="col-lg-6">
          <div class="'row-lg">
            {% for i in task_lists %}
              <a class='text-decoration-none text-dark' href="{% url 'tasks:list_tasks' i.id%}">
                  <div class="task-border">
                      <div class="my-2 mx-3">
                          {{i.name}}
                          {{i.id}}
                      </div>
                  </div>
              </a>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-6">
          <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
              <button type="submit" class="btn btn-primary btn-lg">Create List</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</body>
{% endblock %}