{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Create Tasks{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/task_template.css' %}">

<form method="GET">
    {% csrf_token %}
    {{ myFilter.form|crispy }}
    <button type="submit" class="btn btn-primary"> Test</button>
</form>

<body>
    <div class='container my-2'>
        <div class="row">
            <div class="col-lg-6">
                <div class='row-lg'>
                    {% for i in tasks %}
                    <a class='text-decoration-none text-dark' href="{% url 'tasks:task_details' i.id%}">
                        <div class="task-border">
                            <div class="my-2 mx-3">
                                {{i.name}}
                                {% if not i.deadline %}{{""}}{% else %}{{i.deadline}}{% endif %}
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <div class='row-lg my-5'>
                    {% if type %}
                        <a class='btn btn-primary' href="{% url 'tasks:list_details' task_list_id %}">
                            View Details
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="submit" class="btn btn-primary btn-lg">Create Task</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="tags-box">
          {% for prof in form.tags %}
              <div>
              <a>
              {{ prof}}
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
</body>
{% endblock %}