TASK_DELETE
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class='container'>
    <h1 style="text-align: center;"> Delete Task </h1>
    <form method="POST">
        {% csrf_token %}
        {% if parent %}
            <p> This task has the following parent tasks: </p>
            {% for each in parent %}
                <p>{{each.parent_task}}</p>
            {% endfor %}
        {% endif %}
        {% if child %}
        <p> This task has the following children tasks: </p>
            {% for each in child %}
                <p>{{each.child_task}}</p>
            {% endfor %}
        {% endif %}
        <p>Are you sure you want to delete the task "<strong>{{ task }}</strong>"?</p>
        <input class="btn btn-danger" type="submit" value="Delete" style="position: absolute; left: 40%;"/>
        <input class="btn btn-default" type="button" value="Go back" onclick="history.back()" 
            style="background-color:#696969; color: aliceblue; position: absolute; left: 50%;"/>
    </form>
    
</div>
{% endblock %}