{% load crispy_forms_tags %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/task_group_base.css' %}">
<body>
    <div class="sidebar">
        <span><i class="fa-solid fa-user"></i> Owner </span>
        <a href="#"> {% comment %} please add link to profile here {% endcomment %}
            <img style="border-radius: 50%" src="{{ taskgroup.owner.profile_image.url}}" width="30"height='30'>
            &nbsp@{{taskgroup.owner}}
        </a>
        <span><i class="fa-solid fa-person-military-pointing"></i> Moderators </span>
        {% for i in members%}
            {% if i.user != taskgroup.owner and i.role == 'Moderator' %}
                <a href="#">
                    <img style="border-radius: 50%" src="{{i.user.profile_image.url}}" width="30"height='30'>
                    &nbsp@{{i.user}}
                </a>
            {% endif %}
        {% endfor %}
        <span><i class="fa-solid fa-person-praying"></i> Members </span>
        {% for i in members%}
            {% if i.user != taskgroup.owner and i.role == 'Member' %}
                <a href="#">
                    <img style="border-radius: 50%" src="{{i.user.profile_image.url}}" width="30"height='30'>
                    &nbsp@{{i.user}}
                </a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="sidebar2">
        <span style='border-bottom: 1px solid rgba(0, 0, 0, 0.1);'><i class="fa-solid fa-bolt"></i> Actions </span>
        <a href="{% url 'tasks:group_notify' pk=taskgroup.pk %}"><i class="fa-solid fa-bullhorn"></i> Broadcast Notifications</a>
        <a href="{% url 'tasks:members_list' pk=taskgroup.pk %}"><i class="fa-solid fa-people-roof"></i> Manage Members</a>
        <a href="#"><i class="fa-solid fa-folder"></i> Manage Task Lists</a>
        <a href="{% url 'tasks:group_list' pk=taskgroup.pk %}"><i class="fa-solid fa-folder-plus"></i> Create Task List</a>
        <a href="{% url 'tasks:group_details' pk=taskgroup.pk %}" style="color: grey;"><i class="fa-solid fa-gear"></i> Manage Group</a>
        <a href="{% url 'tasks:group_delete' pk=taskgroup.pk %}" style="color: red;"><i class="fa-solid fa-trash"></i> Delete Group</a>
    </div>
</body>

<script type="text/javascript" src="{% static 'js/task_group_base.js' %}"></script>