{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
{% include 'task_group_base.html' %}
<body>
<div class='container my-2'>
    <div class="row">
        <div class="col-lg-6">
            <h3>Task Lists</h3>
            {% for i in tasklists %}
                <div class="task-border">
                    <div class="my-2 mx-3">
                        {{i.name}}
                        {{i.description}}
                        {{i.assignee}}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
{% endblock %}