{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Create Task List{% endblock %}

{% block content %}
{% include 'task_group_base.html' %}
<style>
    .container {
        padding: 0;
        margin-left: 400px;
        margin-right: 400px; 
        width: auto;
    }
</style>
<body>
   <div class="container">
       {% comment %} <form method="POST">
           {% csrf_token %}
           {{ form.as_p }}
           <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
               <button type="submit" name="edit" class="btn btn-primary btn-lg">Edit Task</button>
            </div>
        </form> {% endcomment %}
        {% for i in comments %}
            <div>{{ i.content }}</div>
        {% endfor %}
        <form class="update" method="POST">
            {% csrf_token %}
            <div>{{ forms.edit }}</div>
            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <button id='edit' type="submit" class="btn btn-primary btn-lg">Edit Task</button>
            </div>
         </form>
        <form class="comment" method="POST">
            {% csrf_token %}
            {{ forms.comment }}
            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <button id='comment-button' type="submit" class="btn btn-primary btn-lg">Add comment</button>
             </div>
         </form>
        <a class='btn btn-danger btn-lg' href="{% url 'tasks:task_delete' object.id %}">Delete</a>
    </div>
</body>

{% endblock %}

