{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% load static %}

{% block title %}Edit My Profile{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/edit_profile.css' %}">
<body style="background-color:#33475b">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
          <div class="card-body p-4 p-sm-5 ">
            <div class="container">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.first_name|as_crispy_field }}
                    {{ form.last_name|as_crispy_field }}
                    {{ form.username|as_crispy_field }}
                    {{ form.email|as_crispy_field }}
                    {{ form.date_of_birth|as_crispy_field }}
                    {{ form.profile_image|as_crispy_field }}
                    <label>Select Proficiencies</label>
                    <div class="proficiencies-box">
                      {% for prof in form.proficiencies %}
                        <div onclick="this.querySelector('input[type=checkbox]').click()">
                          <a>
                          {{ prof}}
                          </a>
                        </div>
                      {% endfor %}
                    </div>
                    <br>
                    <div class="row">
                      <div class="col">
                        <button type="submit" class="btn btn-primary btn-lg">Save changes</button>
                      </div>
                      <div class="col">
                        <a class ="float-right" href="{{request.META.HTTP_REFERER}}">Back to profile</a>
                      </div>
                    </div>
                </form>
                <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock content %}