{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Edit My Profile{% endblock %}

{% block content %}
<body style="background-color:#33475b">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
          <div class="card-body p-4 p-sm-5 ">
            <div class="container">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Save changes</button>
                </form>
                <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock content %}