{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Create an Account{% endblock %}

{% block content %}
<body style="background-color:#33475b">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
          <div class="card-body p-4 p-sm-5">
            <p class="text-center">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <p class="text-center">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock content %}