{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block content%}
<div class="container">
    <h1>Profile</h1>
    <p class="text-right">
      <a href="{% url 'edit_profile' %}">Change Details here</a>
    </p>
    <p>Username: {{ user }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p class="text-center">
    </p>
    {% if user.userprofile.image %}
    <img src="{{ user.userprofile.image.url }}" width="240">
    {% endif %}
</div>
{% endblock content %}