{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block content%}
<div class="container">
    <h1>Profile</h1>
    <div class="row">
      <div class="col-lg-9">
        {% if user.profile_image %}
        <img style="border-radius: 50%" src="{{ user.profile_image.url}}" width="255" height="255">
        {% endif %}
      </div>
      <div class="col-lg-3">
        {% if pk != user.id %}

        {% else %}
        <p>
            <a class='justify-content-right btn btn-secondary' href="{% url 'edit_profile' %}">Edit Profile</a>
        </p>
        {% endif %}
      </div>
    </div>
    <p>Username: {{ user }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Date of Birth : {{ user.date_of_birth }}</p>
    <p>Capacity : {{ user.capacity }}</p>
    <p>Workload : {{ user.workload }}</p>	
    <div>                     
      <i class="fa-solid fa-envelope"></i>                     
      <span>Email: {{ user.email }}</span>                 
    </div>
</div>
<div class="container-fluid">
	<div class="d-flex flex-row justify-content-center flex-wrap align-items-start">

		{% if request.user.is_authenticated %}
		<div class="d-flex flex-column mb-4">

			<!-- THEM to YOU -->
			{% if request_sent == 0 %}
			<div class="card m-2 p-4">
				<div class="d-flex flex-row align-items-center">
          Accept Friend Request
          <button class="btn btn-success" id="id_confirm_{{pk}}" onclick='triggerAcceptFriendRequest("{{pending_friend_request_id}}")'>
            <i class="fa-solid fa-check"></i>
          </button>
          <button class="btn btn-danger" id="id_cancel_{{pk}}" onclick='triggerDeclineFriendRequest("{{pending_friend_request_id}}")'>
            <i class="fa-solid fa-xmark"></i>
          </button>
				</div>
			</div>
			{% endif %}

			<div class="card m-2 px-4 pb-4">
				<!-- Cancel Friend Request / Send Friend Request / Remove Friend -->
				{% if is_friend == False and is_self == False %}
						<!-- You sent them a request -->
						{% if request_sent == 1 %}
						<div class="d-flex flex-column align-items-center pt-4">
							<button class="btn btn-danger" id="id_cancel_friend_request_btn">
								Cancel Friend Request
							</button>
						</div>
						{% endif %}
						<!-- No requests have been sent -->
						{% if request_sent == -1 %}
						<div class="d-flex flex-column align-items-center pt-4">
							<button class="btn btn-primary" id="id_send_friend_request_btn">
								Send Friend Request
							</button>
						</div>
						{% endif %}
				{% endif %}
					
					
				{% if is_friend %}
					<div class="dropdown pt-4 m-auto">
						<button class="btn btn-secondary dropdown-toggle friends-btn" type="button" id="id_friends_toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Friends
						</button>
						<div class="dropdown-menu" aria-labelledby="id_friends_toggle">
							<a class="dropdown-item" href="#" onclick="removeFriend('{{pk}}', onFriendRemoved)">Unfriend</a>
						</div>
					</div>
				{% endif %}

        <div class="d-flex flex-column pt-4">
					<a href="{% url 'list' user_id=pk %}">
						<div class="d-flex flex-row align-items-center justify-content-center icon-container">
							<span class="friend-text">Friends ({{friends|length}})</span>
						</div>
					</a>
				</div>

			</div>



		</div>
		{% endif %}

		
	</div>
</div>
<script type="text/javascript">

	// called from base_js.html
	//preloadImage("{{profile_image|safe}}", 'id_profile_image')

	function onFriendRequestSent(){
		location.reload();
	}

	function onFriendRequestCancelled(){
		location.reload();
	}

	function onFriendRemoved(){
		location.reload();
	}

	function onFriendRequestAccepted(){
		location.reload();
	}

	function onFriendRequestDeclined(){
		location.reload();
	}


	var sendFriendRequestBtn = document.getElementById("id_send_friend_request_btn")
	if (sendFriendRequestBtn != null){
		sendFriendRequestBtn.addEventListener("click", function(){
			sendFriendRequest("{{pk}}", onFriendRequestSent)
		})
	}

	var cancelFriendRequestBtn = document.getElementById("id_cancel_friend_request_btn")
	if(cancelFriendRequestBtn != null){
		cancelFriendRequestBtn.addEventListener("click", function(){
			cancelFriendRequest("{{pk}}", onFriendRequestCancelled)
		})
	}

	var removeFriendBtn = document.getElementById("id_unfriend_btn")
	if (removeFriendBtn != null){
		removeFriendBtn.addEventListener("click", function(){
			removeFriend("{{pk}}", onFriendRemoved)
		})
	}

	function triggerAcceptFriendRequest(friend_request_id){
		acceptFriendRequest(friend_request_id, onFriendRequestAccepted)
	}

	function triggerDeclineFriendRequest(friend_request_id){
		declineFriendRequest(friend_request_id, onFriendRequestDeclined)
	}
	
</script>
{% include 'send_friend_request.html' %}
{% include 'accept_friend_request.html' %}
{% include 'decline_friend_request.html' %}
{% include 'cancel_friend_request.html' %}
{% include 'remove_friend.html' %}

{% endblock content %}